<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/write.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/need_password.css')}}"> -->
    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}
    <div id="container">
        <div id="main">
            <form method="post">
                <div id="text">
                    🔒비밀번호를 입력하세요	🔒
                </div>
                <div id="password">
                    <input type="password" name="inserted_password">
                </div>
                <div id="btn_div">
                    <input type="reset" value="취소" onclick="location.href='/'" class="btn" id="cancel"><input type="submit" value="확인" class="btn" id="submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>