<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/write.css')}}">
    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}

    <form method="post">
        <div id="container">
            <div id="main">
                {% if not session['user_name'] %}
                <div id="name_passwd">
                    <input type="text" name="inserted_user" value="Anonymous" placeholder="닉네임">
                    <input type="password" name="inserted_password" placeholder="비밀번호">
                </div>
                {% endif %}
                <div id="title">
                    <input type="text" name="inserted_title" placeholder="제목">
                </div>
                <div id="content">
                    <textarea cols="60" rows="10" name="inserted_content" placeholder="내용"></textarea>
                </div>
                <div id="is_secret">
                    <input type="checkbox" name="is_secret_post">비밀 글<br>
                </div>
                <div id="btn_div">
                    <button type="reset" onclick="location.href='/'" class="btn">취소</button><button type="submit" class="btn">등록</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>